<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Peliculas {{getUsuario()?.uid}}</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-fab vertical="top" horizontal="end" slot="fixed" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="openMovieAddPage()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="log-out-outline" (click)="logOut()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-select label="Tipo" 
        [multiple]="true"
        interface="popover"
        label-placement="floating"
        [(ngModel)]="filter"
        (ionChange)="filterMovies()"
        >
          <ion-select-option value="Drama">Drama</ion-select-option>
          <ion-select-option value="Comedia">Comedia</ion-select-option>
          <ion-select-option value="Acción">Acción</ion-select-option>
          <ion-select-option value="Terror">Terror</ion-select-option>
          <ion-select-option value="Ciencia Ficción">Ciencia Ficción</ion-select-option>
          <ion-select-option value="Musical">Musical</ion-select-option>
          <ion-select-option value="Infantil">Infantil</ion-select-option>
          <ion-select-option value="Animación">Animación</ion-select-option>
          <ion-select-option value="Suspenso">Suspenso</ion-select-option>
          <ion-select-option value="Documental">Documental</ion-select-option>
          <ion-select-option value="Romance">Romance</ion-select-option>
          <ion-select-option value="Fantasía">Fantasía</ion-select-option>
          <ion-select-option value="Aventura">Aventura</ion-select-option>
          <ion-select-option value="Bélico">Bélico</ion-select-option>
          <ion-select-option value="Crimen">Crimen</ion-select-option>
          <ion-select-option value="Misterio">Misterio</ion-select-option>
          <ion-select-option value="Biografico">Biografico</ion-select-option>
          <ion-select-option value="Histórico">Histórico</ion-select-option>
          <ion-select-option value="Deportivo">Deportivo</ion-select-option>
          <ion-select-option value="Western">Western</ion-select-option>
          <ion-select-option value="Guerra">Guerra</ion-select-option>

        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" *ngFor="let movie of moviesFounds; index as i">
        <ion-card>
          <img (click)="openViewMovie(movie.titulo)" [src]="movie.portada"/>
          <ion-card-header>
            <ion-card-title>
              {{movie.titulo}}
              <ion-badge>{{movie.genero}}</ion-badge>
            </ion-card-title>
            <ion-card-subtitle>{{ movie.precio| currency }}</ion-card-subtitle>
          </ion-card-header>
          <ion-button expand="block" (click)="addMovieToLibrary(movie)">
            <ion-icon name="cart-outline" ></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
